{% extends 'layout.html.twig' %}

{% block header_content %}
    Editing Currency <a href="{{ path('currency.index') }}" class="pull-right btn blue"><< back</a>
{% endblock %}

{% block content %}
    {% include 'currency/form.html.twig' with {
    'path': 'currency.update',
    'header': 'Edit currency information'
    } %}
{% endblock %}