{% extends "layout.html.twig" %}

{% block header_content %}
    Currency <a href="{{ path('currency.new') }}" class="pull-right btn green">Add new currency</a>
{% endblock %}

{% block content %}
    <hr>

    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th width="3%">#</th>
            <th>Name</th>
            <th>Service</th>
            <th width="10%"><!-- --></th>
        </tr>
        </thead>
        <tbody>
        {% if currencies|length > 0 %}
            {% for currency in currencies %}
                <tr>
                    <td>{{ currency.id }}</td>
                    <td>{{ currency.name }}</td>
                    <td>{{ currency.symbol }}</td>
                    <td>
                        <a href="{{ path('currency.edit', {'id': currency.id}) }}" class="btn btn-xs blue">
                            <i class="fa fa-pencil"></i> edit
                        </a>
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="4">No record found.</td>
            </td>
        {% endif %}
        </tbody>
    </table>
{% endblock %}