{% extends 'layout.html.twig' %}

{% block header_content %}
    Editing Service <a href="{{ path('service.index') }}" class="pull-right btn blue"><< back</a>
{% endblock %}

{% block content %}
    {% include 'service/form.html.twig' with {
    'path': 'service.update',
    'header': 'Edit service information'
    } %}
{% endblock %}