{% extends "layout.html.twig" %}

{% block header_content %}
    Services <a href="{{ path('service.new') }}" class="pull-right btn green">Add new service</a>
{% endblock %}

{% block content %}
    <hr>


    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th width="3%">#</th>
            <th>Name</th>
            <th width="15%"><!-- --></th>
        </tr>
        </thead>
        <tbody>
        {% if services|length > 0 %}
            {% for service in services %}
                <tr>
                    <td>{{ service.id }}</td>
                    <td>{{ service.name }}</td>
                    <td>
                        <a href="{{ path('service.edit', {'id': service.id}) }}" class="btn btn-xs blue">
                            <i class="fa fa-pencil"></i> editar
                        </a>

                        <a href="{{ path('service.delete', {'id': service.id}) }}" class="btn btn-xs red delete">
                            <i class="fa fa-times"></i> delete
                        </a>
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="3">No record found.</td>
            </td>
        {% endif %}
        </tbody>
    </table>
{% endblock %}