{% extends 'layout.html.twig' %}

{% block header_content %}
    Editing Partner <a href="{{ path('partner.index') }}" class="pull-right btn blue"><< back</a>
{% endblock %}

{% block content %}
    {% include 'partner/form.html.twig' with {
    'path': 'partner.update',
    'header': 'Edit partner information'
    } %}
{% endblock %}