<div class="row">
    <div class="col-md-6">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-red-sunglo">
                    <span class="caption-subject bold uppercase">{{ header }}</span>
                </div>
            </div>
            <div class="portlet-body form">
                {{ form_start(form, {'name': 'form'}) }}
                    {% if form.id is defined %}{{ form_widget(form.id) }}{% endif %}
                    <div class="form-body">
                        <div class="form-group">
                            {{ form_label(form.name) }}
                            {{ form_widget(form.name) }}
                        </div>
                        <div class="form-group">
                            {{ form_label(form.email) }}
                            {{ form_widget(form.email) }}
                        </div>
                        <div class="form-group">
                            {{ form_label(form.service) }}
                            {{ form_widget(form.service) }}
                        </div>
                    </div>
                    <div class="form-actions">
                        {{ form_widget(form.submit) }}
                    </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>
