{% extends "layout.html.twig" %}

{% block header_content %}
    Partners <a href="{{ path('partner.new') }}" class="pull-right btn green">Add new partner</a>
{% endblock %}

{% block content %}
    <hr>

    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th width="3%">#</th>
            <th>Name</th>
            <th width="10%"><!-- --></th>
        </tr>
        </thead>
        <tbody>
        {% if partners|length > 0 %}
            {% for partner in partners %}
                <tr>
                    <td>{{ partner.id }}</td>
                    <td>{{ partner.name }}</td>
                    <td>
                        <a href="{{ path('partner.edit', {'id': partner.id}) }}" class="btn btn-xs blue">
                            <i class="fa fa-pencil"></i> edit
                        </a>

                        <a href="{{ path('partner.delete', {'id': partner.id}) }}" class="btn btn-xs red delete">
                            <i class="fa fa-times"></i> delete
                        </a>
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="3">No record found.</td>
            </td>
        {% endif %}
        </tbody>
    </table>
{% endblock %}
