<li class="nav-item start {{ app.request_stack.getCurrentRequest.get('_route') matches '/(contact|payment).[a-z.]/' ? 'active' : '' }}">
    <a href="{{ path('contact.index') }}" class="nav-link nav-toggle">
        <i class="fa fa-fw fa-user"></i>
        <span class="title">Contact</span>
    </a>
</li>
<li class="nav-item {{ app.request_stack.getCurrentRequest.get('_route') matches '/partner.[a-z.]/' ? 'active' : '' }}">
    <a href="{{ path('partner.index') }}" class="nav-link nav-toggle">
        <i class="fa fa-fw fa-building"></i>
        <span class="title">Partner</span>
    </a>
</li>
<li class="nav-item {{ app.request_stack.getCurrentRequest.get('_route') matches '/service.[a-z.]/' ? 'active' : '' }}">
    <a href="{{ path('service.index') }}" class="nav-link nav-toggle">
        <i class="fa fa-fw fa-suitcase"></i>
        <span class="title">Service</span>
    </a>
</li>
<li class="nav-item {{ app.request_stack.getCurrentRequest.get('_route') matches '/assistence.[a-z.]/' ? 'active' : '' }}">
    <a href="{{ path('assistence.index') }}" class="nav-link nav-toggle">
        <i class="fa fa-fw fa-info"></i>
        <span class="title">Assistence</span>
    </a>
</li>
<li class="nav-item {{ app.request_stack.getCurrentRequest.get('_route') matches '/currency.[a-z.]/' ? 'active' : '' }}">
    <a href="{{ path('currency.index') }}" class="nav-link nav-toggle">
        <i class="fa fa-fw fa-money"></i>
        <span class="title">Currency</span>
    </a>
</li>
<li class="nav-item {{ app.request_stack.getCurrentRequest.get('_route') matches '/user.[a-z.]/' ? 'active' : '' }}">
    <a href="{{ path('user.index') }}" class="nav-link nav-toggle">
        <i class="fa fa-fw fa-group"></i>
        <span class="title">Users</span>
    </a>
</li>
