{% extends "layout.html.twig" %}

{% block header_content %}
    Assistence <a href="{{ path('assistence.new') }}" class="pull-right btn green">Add new assistence</a>
{% endblock %}

{% block content %}
    <hr>
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th width="3%">#</th>
            <th>Name</th>
            <th width="15%"><!-- --></th>
        </tr>
        </thead>
        <tbody>
        {% if assistences|length > 0 %}
            {% for assistence in assistences %}
                <tr>
                    <td>{{ assistence.id }}</td>
                    <td>{{ assistence.name }}</td>
                    <td>
                        <a href="{{ path('assistence.edit', {'id': assistence.id}) }}" class="btn btn-xs blue">
                            <i class="fa fa-pencil"></i> editar
                        </a>

                        <a href="{{ path('assistence.delete', {'id': assistence.id}) }}" class="btn btn-xs red delete">
                            <i class="fa fa-times"></i> delete
                        </a>
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="3">No record found.</td>
            </td>
        {% endif %}
        </tbody>
    </table>
{% endblock %}