{% extends 'layout.html.twig' %}

{% block header_content %}
    New Assistence <a href="{{ path('assistence.index') }}" class="pull-right btn blue"><< back</a>
{% endblock %}

{% block content %}
    {% include 'assistence/form.html.twig' with {
    'path': 'assistence.create',
    'header': 'New assistence information'
    } %}
{% endblock %}