{% extends 'layout.html.twig' %}

{% block header_content %}
    <div class="hidden-xs">
        Editing Contact <a href="{{ path('contact.index') }}" class="pull-right btn blue"><< back</a>
    </div>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-8">
            {% include 'contact/form.html.twig' with {
            'path': 'contact.update',
            'header': 'Edit contact information'
            } %}
        </div>
        <div class="col-md-4 hidden-xs">
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption font-purple-intense">
                        <span class="caption-subject bold uppercase">Upload files</span>
                    </div>
                </div>
                <div class="portlet-body form">
                    <form name="form" method="post" action="{{ path('contact.upload') }}" enctype="multipart/form-data">
                        <input type="hidden" name="form[fk_contact]" value="{{ contact.id }}">
                        <div class="form-body">
                            <div class="form-group">
                                {{ form_label(uploadForm.file) }}
                                {{ form_widget(uploadForm.file) }}
                            </div>
                        </div>
                        <div class="form-actions">
                            {{ form_widget(uploadForm.submit) }}
                        </div>
                    </form>
                </div>
            </div>

            <div class="portlet light bordered hidden-xs">
                <div class="portlet-title">
                    <div class="caption font-blue-dark">
                        <span class="caption-subject bold uppercase">Files</span>
                    </div>
                </div>
                <div class="portlet-body">
                    {% if uploadedFiles|length > 0 %}
                        <ul>
                            {% for file in uploadedFiles %}
                                <li><a href="{{ absolute_url('/upload/' ~ file.file) }}"
                                       target="_blank">{{ file.file }}</a></li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <p>No file uploaded yet.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}