<div class="portlet light bordered">
    <div class="portlet-title hidden-xs">
        <div class="caption font-red-sunglo">
            <span class="caption-subject bold uppercase">{{ header }}</span>
        </div>
    </div>
    <div class="portlet-body form">
        {{ form_start(form, {'name': 'form'}) }}
        {% if form.id is defined %}{{ form_widget(form.id) }}{% endif %}
        <div class="form-body">
            <div class="row">
                <div class="col-md-6 col-xs-6">
                    <div class="row">
                        <div class="col-md-9 col-xs-12">
                            <div class="form-group">
                                {{ form_label(form.name) }}
                                {{ form_widget(form.name) }}
                            </div>
                        </div>
                        <div class="col-md-3 col-xs-12">
                            <div class="form-group">
                                {{ form_label(form.birthday) }}
                                {{ form_widget(form.birthday) }}
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        {{ form_label(form.email) }}
                        {{ form_widget(form.email) }}
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                {{ form_label(form.partner) }}
                                {{ form_widget(form.partner) }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                {{ form_label(form.assistence) }}
                                {{ form_widget(form.assistence) }}
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        {{ form_label(form.contacted_at) }}
                        {{ form_widget(form.contacted_at) }}
                    </div>
        
                    <div class="form-group">
                        {{ form_label(form.phone) }}
                        {{ form_widget(form.phone) }}
                    </div>

                    <div class="form-group">
                        {{ form_label(form.passport) }}
                        {{ form_widget(form.passport) }}
                    </div>
                </div>

                <div class="col-md-6 col-xs-6">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="form-group">
                                {{ form_label(form.address) }}
                                {{ form_widget(form.address) }}
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                {{ form_label(form.city) }}
                                {{ form_widget(form.city) }}
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        {{ form_label(form.schooling) }}
                        {{ form_widget(form.schooling) }}
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                {{ form_label(form.father_name) }}
                                {{ form_widget(form.father_name) }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                {{ form_label(form.mother_name) }}
                                {{ form_widget(form.mother_name) }}
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        {{ form_label(form.profession) }}
                        {{ form_widget(form.profession) }}
                    </div>

                    <div class="form-group">
                        {{ form_label(form.observation) }}
                        {{ form_widget(form.observation) }}
                    </div>
                </div>
            </div>

            <div class="form-group hidden-xs">
                <label>Contact status</label>
                <div class="mt-checkbox-list">
                    <label class="mt-checkbox">
                        Is Client?
                        {{ form_widget(form.is_client) }}
                        <span></span>
                    </label>

                    <label class="mt-checkbox">
                        Is Done?
                        {{ form_widget(form.is_done) }}
                        <span></span>
                    </label>
                </div>
            </div>
        </div>
        <div class="form-actions hidden-xs">
            {{ form_widget(form.submit) }}
        </div>
        {{ form_end(form) }}
    </div>
</div>
