{% extends "layout.html.twig" %}

{% block header_content %}
    Contacts <a href="{{ path('contact.new') }}" class="pull-right btn green">Add new contact</a>
{% endblock %}

{% block content %}
    <hr>

    <div class="row">
        <div class="col-md-12">
            <div class="portlet light bordered">
                <div class="portlet-body form">
                    <form action="{{ path('contact.index') }}" method="get">
                        <div class="form-body">
                            <div class="row">
                                <div class="col-md-3">
                                    <label>Search by E-mail or Name</label>
                                    <input type="text" name="search" class="form-control" />
                                </div>
                                <div class="col-md-2">
                                    <button class="btn purple-wisteria margin-top-20">Search</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="clearfix"></div>

    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th width="3%">#</th>
            <th>Name</th>
            <th>E-mail</th>
            <th>Assistence</th>
            <th width="3%">Client</th>
            <th width="3%">Done</th>
            <th width="16%"><!-- --></th>
        </tr>
        </thead>
        <tbody>
        {% if contacts|length > 0 %}
            {% for contact in contacts %}
                <tr>
                    <td>{{ contact.id }}</td>
                    <td>{{ contact.name }}</td>
                    <td>{{ contact.email }}</td>
                    <td>{{ contact.assistence }}</td>
                    <td align="center">
                        <i class="fa fa-{{ contact.isClient ? 'check-circle-o font-green-dark' : 'times font-red-intense' }}"></i>
                    </td>
                    <td align="center">
                        <i class="fa fa-{{ contact.isDone ? 'check-circle-o font-green-dark' : 'times font-red-intense' }}"></i>
                    </td>
                    <td>
                        <a href="{{ path('contact.edit', {'id': contact.id}) }}" class="btn btn-xs blue">
                            <i class="fa fa-pencil"></i> edit</a>
                        <a href="{{ path('payment.contact.index', {'id': contact.id}) }}"
                           class="btn purple btn-xs">
                            <i class="fa fa-money"></i> payment</a>
                        <a href="{{ path('contact.delete', {'id': contact.id}) }}"
                           class="btn red btn-xs delete">
                            <i class="fa fa-times"></i> delete</a>
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="6">No record found.</td>
            </td>
        {% endif %}
        </tbody>
    </table>
{% endblock %}
