{% extends 'layout.html.twig' %}

{% block header_content %}
    New Contact <a href="{{ path('contact.index') }}" class="pull-right btn blue"><< back</a>
{% endblock %}

{% block content %}
    {% include 'contact/form.html.twig' with {
    'path': 'contact.create',
    'header': 'New contact information'
    } %}
{% endblock %}