<!DOCTYPE html>
<!--[if IE 8]>
<html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8"/>
    <title>Italian Citizenship | Administration area</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <meta content="" name="description"/>
    <meta content="" name="author"/>

    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet"
          type="text/css"/>
    <link href="/assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet"
          type="text/css"/>
    <link href="/assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet"
          type="text/css"/>

    <link href="/assets/global/css/components.css" rel="stylesheet" type="text/css"/>
    <link href="/assets/global/css/plugins.css" rel="stylesheet" type="text/css"/>
    <link href="/assets/layouts/layout/css/layout.css" rel="stylesheet" type="text/css"/>
    <link href="/assets/layouts/layout/css/themes/darkblue.min.css" rel="stylesheet" type="text/css"
          id="style_color"/>
    <link href="/assets/layouts/layout/css/custom.css" rel="stylesheet" type="text/css"/>

    {% block css %}
        <link rel="stylesheet" type="text/css"
              href="/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css"/>
    {% endblock %}
</head>
<body class="page-header-fixed page-sidebar-closed-hide-logo page-content-white">
<div class="page-wrapper">
    <div class="page-header navbar navbar-fixed-top">
        <div class="page-header-inner">
            <div class="page-logo">
                <img src="/assets/layouts/layout/img/logo.png" alt="logo" class="logo-default"/>
            </div>

            <div class="top-menu">
                <ul class="nav navbar-nav pull-right">
                    <li class="dropdown dropdown-user">
                        <a href="{{ path('auth.logout') }}" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown"
                           data-close-others="true">
                            <span class="username username-hide-on-mobile"> Log Out </span>
                            <i class="fa fa-angle-down"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="clearfix"></div>

    <div class="page-container">
        <div class="page-sidebar-wrapper">
            <div class="page-sidebar navbar-collapse collapse">
                <ul class="page-sidebar-menu  page-header-fixed " data-keep-expanded="false" data-auto-scroll="true"
                    data-slide-speed="200" style="padding-top: 20px">
                    {% include 'layout_partial/menu.html.twig' %}
                </ul>
            </div>
        </div>

        <div class="page-content-wrapper">
            <div class="page-content">
                {% for alert in app.session.flashbag.get('error') %}
                    <div class="alert alert-danger">
                        <strong>{{ alert }}</strong>
                    </div>
                {% endfor %}

                <h1 class="page-title">
                    {% block header_content %}{% endblock %}
                </h1>

                <div class="clearfix"></div>

                {% block content %}{% endblock %}
            </div>
        </div>
    </div>

    <div class="page-footer">
        <div class="page-footer-inner"> {{ "now"|date('Y') }} &copy; Kelly Ivanics</div>
        <div class="scroll-to-top">
            <i class="icon-arrow-up"></i>
        </div>
    </div>
</div>

{% block js %}
    <script type="text/javascript" src="/assets/global/plugins/jquery.min.js"></script>
    <script type="text/javascript"
            src="/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
{% endblock %}

<script type="text/javascript">
    $(".date-picker").datepicker({
        orientation: "left",
        autoclose: !0,
        format: 'yyyy-mm-dd',
    });

    $(".delete").click(function(e) {
        if (!confirm("Are you sure about this action?")) {
            e.preventDefault();
        }
    });
</script>
</body>
</html>