<div class="portlet light bordered">
    <div class="portlet-title">
        <div class="caption font-red-sunglo">
            <span class="caption-subject bold uppercase">{{ header }}</span>
        </div>
    </div>
    <div class="portlet-body form">
        <form name="form" method="post" action="{{ path('payment.contact.modify') }}">
            {% if form.id is defined %}{{ form_widget(form.id) }}{% endif %}
            <input type="hidden" name="payment_form[contact]" value="{{ contactID }}">
            <div class="form-body">
                <div class="form-group">
                    {{ form_label(form.currency) }}
                    {{ form_widget(form.currency) }}
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            {{ form_label(form.parcels) }}
                            {{ form_widget(form.parcels) }}
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            {{ form_label(form.price) }}
                            {{ form_widget(form.price) }}
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            {{ form_label(form.partner_price) }}
                            {{ form_widget(form.partner_price) }}
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            {{ form_label(form.total_price) }}
                            {{ form_widget(form.total_price) }}
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    {{ form_label(form.start_payment) }}
                    {{ form_widget(form.start_payment) }}
                </div>
            </div>
            <div class="form-actions">
                {{ form_widget(form.submit) }}
            </div>
        </form>
    </div>
</div>
