{% extends 'layout.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-md-6">
            {% include 'payment/form.html.twig' with {
            'header': 'Payment'
            } %}
        </div>
        <div class="col-md-6">
            {% include 'payment/parcel.html.twig' %}
        </div>
    </div>
{% endblock %}