<div class="mt-element-list">
    <div class="mt-list-head list-simple font-white bg-red-haze-opacity">
        <h3 class="list-title">Payment parcels</h3>
    </div>
    <div class="mt-list-container list-simple">
        <ul>
            {% if parcels|length > 0 %}
                {% for parcel in parcels %}
                    <li class="mt-list-item">
                        <div class="list-icon-container">
                            {% if parcel.isPaid == false %}
                                <i class="fa fa-times font-red"></i>
                            {% else %}
                                <i class="fa fa-check-circle-o font-green"></i>
                            {% endif %}
                        </div>
                        {% if parcel.isPaid == false %}
                            <div class="list-datetime">
                                <a href="{{ path('payment.paid', {'id': parcel.id}) }}" class="btn green btn-xs">
                                    <i class="fa fa-money"></i>
                                    Paid
                                </a>
                            </div>
                        {% else %}
                            <div class="list-datetime">
                                <a href="{{ path('payment.unpaid', {'id': parcel.id}) }}" class="btn red btn-xs">
                                    <i class="fa fa-money"></i>
                                    Unpaid
                                </a>
                            </div>
                        {% endif %}
                        <div class="list-item-content">
                            {{ currency.symbol }} {{ parcel.parcelPrice|number_format(2, '.', ',') }}
                            on {{ parcel.paymentDate }}
                        </div>
                    </li>
                {% endfor %}
            {% else %}
                <li class="mt-list-item">No parcels created</li>
            {% endif %}
        </ul>
    </div>
</div>
