{% extends 'layout.html.twig' %}

{% block header_content %}
    Editing User <a href="{{ path('user.index') }}" class="pull-right btn blue"><< back</a>
{% endblock %}

{% block content %}
    {% include 'user/form.html.twig' with {
    'path': 'user.update',
    'header': 'Edit user information'
    } %}
{% endblock %}