<div class="row">
    <div class="col-md-6">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-red-sunglo">
                    <span class="caption-subject bold uppercase">{{ header }}</span>
                </div>
            </div>
            <div class="portlet-body form">
                <form name="form" method="post" action="{{ path(path) }}">
                    {% if form.id is defined %}{{ form_widget(form.id) }}{% endif %}
                    <div class="form-body">
                        <div class="form-group">
                            {{ form_label(form.username) }}
                            {{ form_widget(form.username) }}
                        </div>
                    </div>
                    <div class="form-actions">
                        {{ form_widget(form.submit) }}
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
