{% extends "layout.html.twig" %}

{% block header_content %}
    Users <a href="{{ path('user.new') }}" class="pull-right btn green">Add new user</a>
{% endblock %}

{% block content %}
    <hr>

    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th width="3%">#</th>
            <th>Username</th>
            <th width="10%"><!-- --></th>
        </tr>
        </thead>
        <tbody>
        {% if users|length > 0 %}
            {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.username }}</td>
                    <td>
                        <a href="{{ path('user.edit', {'id': user.id}) }}" class="btn btn-xs blue">
                            <i class="fa fa-pencil"></i> edit
                        </a>
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="3">No record found.</td>
            </td>
        {% endif %}
        </tbody>
    </table>
{% endblock %}